.home-container {
    width: 100%;
    max-width: 1920px;
    padding: 0 30px;
    margin: 0;
}

.home-container header {
    display: flex;
    align-items: center;
}

.home-container header span {
    color: #ffffff;
    font-size: 20px;
    margin-left: 24px;
}

.home-container header img {
    height: 64px;
}

.home-container header a {
    width: 260px;
    margin-left: auto;
    margin-top: 0;
}

.home-container header button {
    height: 60px;
    width: 60px;
    border-radius: 4px;
    border: 1px solid #ffffff;
    background: transparent;
    margin-left: 16px;
    transition: border-color 0.3s;
}

.home-container header button:hover {
    border-color: #999;
}

.home-container h1 {
    font-size: 120px;
    color: #ffffff;
    margin-top: 80px;
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-images {
    display: inline-block;
    padding: 8px;
    border-radius: 8px;
    width: 100%;
    max-width: 300px;
    height: 300px;
    margin: 0px;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    list-style: none;
    cursor: pointer;
    transition: opacity 0.3s;
}

.home-container ul {
    list-style-type: none;
}

.home-container ul {
    grid-template-columns: repeat(6, 1fr);
    display: grid;
}

.home-container ul li span {
    color: #ffffff;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: larger;
    font-weight: bolder;
}

.home-container ul li:hover {
    opacity: 0.9
}